!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title KSS Styleguide
    = stylesheet_link_tag 'kss'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'blackboard'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body.kss-body
    %header.kss-header
      KSS Styleguide Example
    #kss_wrapper
      %nav.kss-nav{:role => "main"}
        %ul
          %li= link_to 'Home', kss.root_path
          %li= link_to 'Styleguide', kss.styleguide_path
      = yield
    / /#wrapper
    = javascript_include_tag 'kss'
    = javascript_include_tag 'rainbow'
