.skip-navigation
  %a{:href=>"#mainContent", :tab=>{:index=>"0"}}
    Skip to main content
%nav.navigation{ :data=> { :controller=> "mobilenavigation" } }
  .mobile-navigation-button{ :data=> { :action=> "click->mobilenavigation#toggle", :mobilenavigation=> { :target=>"buttonContainer"}} }
    %i.fa-solid.fa-bars{ :data=> { :mobilenavigation=>{:target=>"iconOpen"} } }
    %i.fa-solid.fa-x.hide{ :data=> { :mobilenavigation=> { :target=>"iconClose"} } }
  %ul.hide{ :data=> { :show=> "on", :mobilenavigation=> { :target=>"navstate" } } }
    %li
      = link_to "Home", root_path
    %li
      = link_to "All Albums", albums_path
    %li
      = link_to "Posts", posts_path
    %li
      = link_to "About", about_path
    %li
      = link_to "Your Team Ring", your_team_ring_path