- @song = song
- id = song_id

.reveal.large{:id=>"songMenu_" + id, :data=>{:reveal=>true}}
  .song
    %i{:class=>"fas fa-times modal-close", :data=> {:close => true}}
    %h4
      = @song.title + ","
      = @song.trt
    %hr
    .top-container
      - if @song.streaming_links
        .streaming-links
          Listen:
          - @song.streaming_links.each do |streaming_link|
            %a{:href => streaming_link.link, :class=> "streaming-link icon-only" }
              %i{:class=> ("fab fa-" + streaming_link.streaming_service.icon_url)}
              - if @song.streaming_links.length() <=2
                = streaming_link.streaming_service.name
      - if @song.video
        .song-video
          %a{:href=> video_path(@song.video.id), :class => 'song-video-link'}
            %i.fas.fa-play-circle
            Watch the video
    - if @song.notes.length > 0
      .notes
        %h5
          Notes
        %hr
        %p
          = @song.notes.html_safe
    - if @song.lyrics.length > 0
      .lyrics
        %h5
          Lyrics
        %hr
        %p
          = @song.lyrics.html_safe