- if @log
  %div
    current log
    = @log.id
    you are
    = @article
    = @descriptor.descriptor
    = @role.character_role
    from
    = @setting.time
    = @setting.place
    who
    = @background.background

    = link_to "Re-Roll", pulsar_character_creation_url

    = form_for(Character.new) do |f|
      = f.label :name, "What's your characters name?"
      = f.text_field :name
      = f.label :additional_bio, "Any additional biographical notes or characteristics?"
      = f.text_field :additional_bio
      = f.text_field :character_descriptor_id, :value => @descriptor.id, :type => 'hidden'
      = f.text_field :character_role_id, :value => @role.id, :type => 'hidden'
      = f.text_field :character_setting_id, :value => @setting.id, :type => 'hidden'
      = f.text_field :character_background_id, :value => current_user.id, :type => 'hidden'
      = f.text_field :user_id, :value => current_user.id, :type => 'hidden'
      = f.text_field :log_id, :value => @log.id, :type => 'hidden'
      = submit_tag "Save and proceed"

-else
  %div
    new log
    = @new_log.id
    you are
    = @article
    = @descriptor.descriptor
    = @role.character_role
    from
    = @setting.time
    = @setting.place
    who
    = @background.background

    = link_to "Re-Roll", pulsar_character_creation_url

    = form_for(Character.new) do |f|
      = f.label :name, "What's your characters name?"
      = f.text_field :name
      = f.label :additional_bio, "Any additional biographical notes or characteristics?"
      = f.text_field :additional_bio
      = f.text_field :character_descriptor_id, :value => @descriptor.id, :type => 'hidden'
      = f.text_field :character_role_id, :value => @role.id, :type => 'hidden'
      = f.text_field :character_setting_id, :value => @setting.id, :type => 'hidden'
      = f.text_field :character_background_id, :value => current_user.id, :type => 'hidden'
      = f.text_field :user_id, :value => current_user.id, :type => 'hidden'
      = f.text_field :log_id, :value => @new_log.id, :type => 'hidden'
      = submit_tag "Save and proceed"
