=@current_character.name
%h1
  =@prompt.prompt_title
%p
  =@prompt.prompt_text
%hr

= form_for(Entry.new) do |f|
  = f.label :entry_text
  = f.text_field :entry_text
  = f.text_field :prompt_id, :value => @prompt.id, :type => 'hidden'
  = f.text_field :character_id, :value => @current_character.id, :type => 'hidden'
  = submit_tag "Save and proceed"
