%h1 Welcome

- if !user_signed_in?
  = link_to 'Register', new_user_registration_path, class:"welcome"
- else
  - if @log
    - if @user_characters_in_log
      - @user_characters_in_log.each do | character_in_log |
        - if character_in_log.current_health > 0
          = character_in_log.name
          alive
        - else
          = character_in_log.name
          dead
    - else
      = link_to "create a new character in this log", pulsar_character_creation_path(log_id: @log.id)
      or
      = link_to "send this log to a friend", pulsar_share_path(log_id:@log.id)
      %a

  - else
    - if @user_characters
      - @user_characters.each do | character |
        - if character.current_health > 0
          = character.name
          alive
        - else
          = character.name
          dead
    - else
      = link_to "create a new character", pulsar_character_creation_path



