%main
  .well
    = render :partial => "components/page-heading", :locals => {  :declaration=>  "Formerly Known",
                                                                  :qualifier=> "as",
                                                                  :title=> "Your Team Ring"}
    = render :partial => "components/breadcrumbs"
    %article.your-team-ring
      %p
        I got my first four-track in 1991 and began making experimental rock music. I quickly learned how to ping-pong the four-tracks to seven. These, now unthinkable, destructive edits, produced a lot of over modulation on already low quality recordings. But, I kinda liked it.
        = succeed "." do
          %span.record-label No-Fi Records
        released 7" of this phase of material called, "Root-4". I think it lived up to their label name.
      %p
        High school turned to art school and I kept at it, forcing soft-shell tapes with ASCII covers upon the many musicians I encountered. A cassette called
        = succeed "." do
          %span.album-title AirCrown
        from this time was taped over film school homework.
      %p
        In 2002 I made my first LP called
        = succeed "." do
          %span.album-title Homelife
        This homemade, concept album tells the story of man who clones himself so he can explore space in his flying brownstone. With Stephen Connolly, I helped start a record label called
        = succeed "." do
          %span.record-label Perhaps Transparent
        which released music on CD-R and vinyl.
      %p
        In 2004 I finally was able to use a PC to create nearly infinite tracks. I began collaborating with with Richy Midnight, so much so that I began to think of him as a band mate. Richy, along with many other musicians released
        = succeed "." do
          %span.album-title In Service of the Villain
        On the track called "The Debtor's Son" you can hear my realized dream of a homemade song with over one-hundred tracks.
      %p
        The third record I attempted ended in up on the shelf and I decided a change of name was in order. The first Earthly Frames release,
        = succeed "," do
          %span.album-title Volume One
        is built from samples of this failed Your Team Ring album. In all, the project lasted from 1991 to 2005.
      .ytr-memories
        .ytr-memory
          = image_tag "ytr1.jpg", :alt => "Kevin, Richy, Jason, Brooklyn, NY, 2003."
        .ytr-memory
          = image_tag "ytr2.jpg", :alt => "Richy, Gabe, Scotland, 2004."
      %h4.lazy-sub-headings
        Contributors
      %dl.contributors
        %dt
          Gabriel Walsh 1991-2005
        %dd
          Guitars, Bass, Vocals, Drum Machines, Synths, Mandolin, Hurdy Gurdy, Harmonium, Writing
        %dt
          Steve Connolly 1993-2003
        %dd
          Bass, Vocals
        %dt
          Richy Midnight 2003-2005
        %dd
          Keys, Vocals, Production
        %dt
          Tim Dedman 1998-2004
        %dd
          Vocals, Synths, and also created the amazing artwork for
          = succeed "." do
            %span.album-title Homelife
        %dt
          Kevin Fay, 1998-2004
        %dd
          Drums, Vocals
        %dt
          Jason Merritt, 2000-2003
        %dd
          Guitar, Banjo, Vocals
        %dt
          Justin Russo, 1998-2002
        %dd
          Keyboards
        %dt
          Mary Chapman, 2003-2004
        %dd
          Vocals
        %dt
          Jason Russo, 1998
        %dd
          Guitar
        %dt
          Dahlia Garih, 1998
        %dd
          Drums
        %dt
          Stephen Chopek, 2002
        %dd
          Drums
        %dt
          Tom Barrett, 2003
        %dd
          Drums
        %dt
          Daniel Goebel, 2002
        %dd
          Double Bass, Theremin
        %dt
          Erica Walsh, 2003
        %dd
          Vocals
        %dt
          Dane Johnson, 2003
        %dd
          Percussion
        %dt
          Patrick Hambrecht, 2003
        %dd
          Loops, Keyboards
        %dt
          Nick Franklin, 2003
        %dd
          Vocals, Guitar
      .your-team-ring-albums
        .your-team-ring-album
          %iframe{:style=>'border: 0; width:100%; min-height: 786px; height:auto', :src=>'https://bandcamp.com/EmbeddedPlayer/album=92677729/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
            %a{:href=>'http://yourteamring.bandcamp.com/album/in-service-of-the-villain'} In Service of the Villain by Your Team Ring
        .your-team-ring-album
          %iframe{:style=>'border: 0; width:100%; min-height: 786px; height:auto', :src=>'https://bandcamp.com/EmbeddedPlayer/album=2268904096/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
            %a{:href=>'http://yourteamring.bandcamp.com/album/homelife'} Homelife by Your Team Ring
        .your-team-ring-album
          %iframe{:style=>'border: 0; width:100%; min-height: 786px; height:auto', :src=>'https://bandcamp.com/EmbeddedPlayer/album=2411919293/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
            %a{:href=>'http://yourteamring.bandcamp.com/album/emma'} The Film Score to the Future Symphonies by Your Team Ring
        .your-team-ring-album
          %iframe{:style=>'border: 0; width:100%; min-height: 786px; height:auto', :src=>'https://bandcamp.com/EmbeddedPlayer/album=561377593/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
            %a{:href=>'http://yourteamring.bandcamp.com/album/emma'} Emma by Your Team Ring
        .your-team-ring-album
          %iframe{:style=>'border: 0; width:100%; min-height: 786px; height:auto', :src=>'https://bandcamp.com/EmbeddedPlayer/album=2760735276/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
            %a{:href=>'http://yourteamring.bandcamp.com/album/aircrown'} AirCrown by Your Team Ring
        .your-team-ring-album
          %iframe{:style=>'border: 0; width:100%; min-height: 786px; height:auto', :src=>'https://bandcamp.com/EmbeddedPlayer/album=1266093033/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
            %a{:href=>'http://yourteamring.bandcamp.com/album/clipshirttaxrecovery'} Clipshirttaxrecovery by Your Team Ring