= form_for @albumformat do |f|
  - if @albumformat.errors.any?
    .admin.notice
      %h2= "#{pluralize(@albumformat.errors.count, "error")} prohibited this albumformat from being saved:"
      %ul
        - @albumformat.errors.full_messages.each do |msg|
          %li= msg
  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.submit 'Save', :class=>'button'