= form_for @albumformat do |f|
  - if @albumformat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@albumformat.errors.count, "error")} prohibited this albumformat from being saved:"
      %ul
        - @albumformat.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
