= turbo_frame_tag "songs" do
  .close-song-info
    %a{:href=>album_songs_path, :tab=>{:index=>0}}
      %i.fa-solid.fa-x{:title=> "close"}
  .song
    %i{:class=>"fa-solid fa-quote-left"}
    =@song.title
    %i{:class=>"fa-solid fa-quote-right"}
    - if @song.streaming_links.length > 0
      .song-streaming-links
        - order_streaming_links_for_song(@song).each do |link|
          = turbo_frame_tag "streaming_link", src: [@album, @song, link]
  - if @song.embeds
    .song-embed-wrapper
      - @song.embeds.each do |embed|
        - if embed.streaming_service.name == "SoundCloud"
          .song-embed
            - s_id = embed.streaming_service.id
            - streaming_link = get_streaming_link_for_embed(s_id, @song.streaming_links)
            = render partial: "components/soundcloud_player", :locals => {:soundcloud_id=> embed.player_identifier,
                                                                          :player_color=> embed.color,
                                                                          :text_color=> embed.text_color,
                                                                          :soundcloud_artist_link=> embed.artist_link,
                                                                          :artist_name=> "The Earthly Frames",
                                                                          :soundcloud_song_link=>  streaming_link,
                                                                          :song_title=> @song.title }
  -if @song.notes.length > 1
    %h4.notes-title.lazy-sub-headings
      Notes
    .notes
      .album-content-container
        = @song.notes.html_safe
  -if @song.lyrics.length > 1
    %h4.lyrics-title.lazy-sub-headings
      Lyrics
    .lyrics
      .album-content-container
        = @song.lyrics.html_safe
  - if @song.videos.length >= 1
    .videos
      %h4.video-title.lazy-sub-headings
        Videos
      - @song.videos.each do |video|
        = turbo_frame_tag "video", src: [@album, @song, video]