%ul{:class=>'side-nav'}
  %li
    %a
      = link_to 'Albums', albums_path
  %li
    %a
      = link_to 'Album Formats', albumformats_path
  %li
    %a
      = link_to 'Album Types', albumtypes_path
  %li
    %a
      = link_to 'Songs', songs_path
  %li
    %a
      = link_to 'Shows', shows_path
  %li
    %a
      = link_to 'Posts', posts_path
  %li
    %a
      = link_to 'Images', images_path
