.admin.notice= notice

%h1
  =@album.title
%hr
%ul
  %li
    = 'Release: '+  @album.release.to_s
  %li
    = 'Type: '+ @album.album_type.to_s
  %li
    = 'Formats: '+ @album.album_format.to_s
%p
  =@album.description
%hr
%ul{:class=>'button-group'}
  %li
    = link_to 'Edit', edit_album_path(@album), :class=>'button'
  %li
    = link_to 'Back', albums_path, :class=> 'button'
