= render :partial=> "components/breadcrumb"
.album-header{:itemscope => true, :itemtype => 'http://schema.org/MusicGroup'}
  %span{:class=>'screen-reader-only', :itemprop=>'byArtist'} The Earthly Frames
  %h1{:itemprop=> 'name'}
    =@album.title
  -if @album.released
    %h4{:itemprop => 'datePublished'}
      -if @album.rainbow_table && @album.rainbow_table != 0
        %a{:href => rainbow_path}
          %i{:class=> "fas fa-circle rainbow-icon " +@album.rainbow_table, :alt=> 'Part of the Rainbow Table'}
      =@album.format+' | '+@album.released.strftime('%b %y')
  -else
    %h4
      -if @album.rainbow_table && @album.rainbow_table != 0
        %a{:href => rainbow_path}
          %i{:class=> "fas fa-circle rainbow-icon " +@album.rainbow_table, :alt=> 'Part of the Rainbow Table'}
      =@album.format
.album
  .cover-and-links
    %img{:src => @album.cover,:alt => @album.title, :itemprop =>'image'}
    - if @album.price.to_i > 0
      .purchase
        %a{:href=> @album.buylink.to_s, :tab=>{:index=> 0}}
          Purchase on Bandcamp
          %span{:class=>'price'}
            = number_to_currency(@album.price, :unit => '$')
    - if @album.streaming_links
      .streaming-links
        - @album.streaming_links.each do | album_streaming_link |
          %a{:href => album_streaming_link.link, :class=> "streaming-link" }
            %span{:class=>"service-name"}
              = album_streaming_link.streaming_service.name.to_s
            %i{:class=> ("fab fa-" + album_streaming_link.streaming_service.icon_url)}
  .album-description{:itemprop => 'description'}
    =@album.description.html_safe
.tracks
  -if @album.songs
    %h2{:class=>'track-listing'}
      Track Listing:
    %ol{:class=>'song-list'}
      -@album.songs.each do |s|
        - song_id = s.id.to_s
        = render :partial=> "components/song_display", :locals=>{:song=>s, :song_id=>song_id}
        %li
          %span.song-select{:tab=>{:index=>0},:data=>{:toggle=>"songMenu_"+song_id}}
            = s.title
