.admin.notice = notice
%h1
  =@album.title
%hr
%ul
  %li
    = 'Release: '+  @album.title
  %li
    = 'Type: '+ @album.title
  %li
    = 'Formats: '+ @album.title
%p
  =@album.description
%hr
%ul{:class=>'button-group'}
  %li
    = link_to 'Edit', edit_album_path(@album), :class=>'button'
  %li
    = link_to 'Back', albums_path, :class=> 'button'