= form_for @post do |f|
  - if @post.errors.any?
    .admin.notice
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .row
    = f.label :title
    = f.text_field :title
  .row
    = f.label :post
    = f.text_area :post
  .row
    = f.submit 'Save'
