= turbo_frame_tag "post" do
  .post
    %h3.post-title
      = @post.title
    %h4.post-description
      = @post.description
    .post-image{:style=> "background-image: url(#{@post.main_image.to_s});"}
    %article.post-body
      = @post.body.html_safe
