= form_for @albumtype do |f|
  - if @albumtype.errors.any?
    .admin.notice
      %h2= "#{pluralize(@albumtype.errors.count, "error")} prohibited this albumtype from being saved:"
      %ul
        - @albumtype.errors.full_messages.each do |msg|
          %li= msg
  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.submit 'Save', :class=>'button'