= form_for @image do |f|
  - if @image.errors.any?
    .admin.notice
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg
  .row
    =f.label :img
    =f.file_field :img
  .row
    = f.submit 'Save'
