!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "The Earthly Frames"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{ :id=> 'mcjs' }
      !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/63eaf7f176f8aeb9035c10347/3775dec9f0ae96e926be8f31e.js");
    = Gon::Base.render_data
    = csrf_meta_tag
  %body
    - if !@no_ef_header
      = render :partial => 'components/nav'
    = yield
    - if !@no_ef_footer
      = render :partial => 'components/footer'