!!!
%html
  %head
    %title Earthly Frames
    %meta{ :name=>'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %script{ :type => 'text/javascript', :src => '//use.typekit.net/amw6xzf.js'}
    %script{ :type => 'text/javascript'} try{Typekit.load();}catch(e){}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .main-wrap
      -if !@no_nav
        = render :partial => 'components/nav'
      = yield
    -if !@no_footer
      = render :partial => 'components/footer'